<!--removeIf(pymframe)-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Critical Words</title>
    <link rel="icon" type="image/png" href="https://jaredwhalen.com/images/favicon-01.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S2QREV5XWX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S2QREV5XWX');
    </script>

  <!--removeIf(tmp)-->

  <!--endRemoveIf(tmp)-->
</head>

<body>
  <!--endRemoveIf(pymframe)-->

  {% include "partials/stylesheets.html" %}
  <!--removeIf(tmp)-->

  <style>
    body,
    html {
      width: auto;
      height: auto;
      /*display: inline-block;*/
    }
  </style>
  <!--endRemoveIf(tmp)-->


  <!--build:css styles.min.css-->
  <link rel="stylesheet" href="css/styles.css">
  <!--endbuild-->

  <!--removeIf(production)-->
  <div class="graphicWrapper">

  <!--endRemoveIf(production)-->

  {% include "main-body.html" ignore missing %} {% include "partials/script-links.html" %}

  <!--removeIf(production)-->


  </div>

  <!--endRemoveIf(production)-->

  <!--build:js main.min.js -->
  <script src="js/main.js"></script>
  <!-- endbuild -->

  <!--removeIf(pymframe)-->
</body>

</html>
<!--endRemoveIf(pymframe)-->
