<!-- <div class="intro">
  <div class="intro__underline">{{meta.underline}}</div>
  <h1 class="intro__hed">{{meta.head}}</h1>
  <div class='intro__dek'>This is the text</div>
  <div class="pub">
    <div class="byline">by
      <a class="g-link" target="_blank" href="{{meta.authorPage}}">{{meta.authorName}}</a>
      Delaware News Journal
    </div>
    <div class="pubdate">Published {{meta.pubDate}}</div>
  </div> -->



<div id="main">
  <div id="stepper__wrapper">
    <div id="stepper__progress-outer">
      <div id="stepper__progress-inner"></div>
    </div>
    <div id="stepper__controls">
      <div class="region" data-control="0"></div>
      <div class="region" data-control="1"></div>
    </div>
    <div id="stepper__text"></div>
    <div id="stepper__graphic">
    </div>
  </div>
</div>
